@import "reset.styl"
@import "currency.styl"
@import "colours.styl"
:root {
    --inner-padding: 8px;
    --cell-padding: 4px;
    --div-padding: 4px;
//colours
    --app-background: white;
    --text-colour: rgb(68, 68, 68);
    --sub-list-indent 16px;
}

html, body {
    height: 100%;
    font-family: "Verdana";
    color: var(--text-colour);
    background-color: $color1;
}

label, span, h2, h3, h4, h5, h6 {
    padding: var(--cell-padding);
}
h2 {
    font-size 1.2em;
    margin-bottom: var(--cell-padding);
}
li {
    margin-bottom: var(--cell-padding);
    ol, ul {
        margin-left: var(--sub-list-indent);
    }
}
a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

.icon {
    margin: 8px;
    border-radius: 4px;
    width: 28px;
    height: 28px;
    border: 1px solid var(--text-colour);
}

#purr {
    height: 100%;
    background-color: $color1;
}
#purr > div {
    background-color: $color1;
    overflow: none;
    
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr 200px ;
    grid-row-gap: var(--div-padding);
    grid-column-gap: var(--div-padding);
    
    height: calc(100% - 2 * var(--inner-padding));
    padding: var(--inner-padding);
    &> div {
        padding: var(--inner-padding);
    }

    .header, .footer {
        grid-column-start: 1;
        grid-column-end: last;
    }
    .header {
        background-color: $color2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .footer {
        background-color: $color2;
        grid-row-start: -2;
        grid-row-end: -1;
    }

    .main-content {
        background-color: $color5;
        grid-column-start: 2;
        grid-column-end: last;
        &.account {
            display: grid;
            .statement-list {
                max-height: 400px;
                width: 420px;
                display: grid;
                overflow-y: scroll;
                grid-template-columns: 100px 100px 100px;
                .header, .statement {
                    display: contents;
                }
            }            
        }
    }

    .main-menu {
        background-color: $color4;
    }
}

.accounts, .import-transactions {
    display: grid;
    grid-template-columns: auto 1fr;
    h2 {    
        grid-column-start: span 2;
    }
    .account, .transaction {
        grid-column-start: 1 ;
    }
}


.form-layout {
    /*border: 1px solid black;*/
    border-radius: $radius = 10px;
    margin-bottom: var(--inner-padding);
    .values {
        background-color: $color1;
        border-radius: $radius;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto 1fr;
        label {
            grid-column-start: 1 ;
        }
        h2 {    
            border-bottom: 1px solid black;
            grid-column-start: span 3;
        }
        .controls {
            grid-column-start: span 3 ;
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            button {
                @extend .icon;
            }
        }
    }
}
.account, .transaction {
    @extend .form-layout;
    background-color: $color2;
}

.transaction {
    h2 {
        font-size: 1em;
        font-weight: 400;
    }
}